*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p {
  margin: 6px 0;
}

button {
  padding: 6px 8px;
  font-size: 1em;
  background-color: #0073ff;
  color: #fff;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

html, body, #root {
  width: 100vw;
  height: 100vh;
  font-family: "Courier New", sans-serif;
}

form {
  width: 100%;
}

input {
  border-radius: 2px;
  border:1px solid #cccccc;
  min-height: 24px;
  width: 100%;
  padding: 0 10px;
}

.input-group {
  margin: 16px 0;
}

button {
  height: 100%;
}

.m-t-1 {
  margin-top: 4px;
}

.m-b-1 {
  margin-bottom: 4px;
}

.m-b-2 {
  margin-bottom: 8px;
}

.m-l-1 {
  margin-left: 4px;
}

.m-r-1 {
  margin-right: 4px;
}

.wrapper {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
