extends layout

block content
  h1= title
  p.
    Congrats, you found it. Not much to do here for now, sorry.
    But if you have feedback or issues to report, please do it:
  a(href="https://github.com/adrienDog/crayon-issues") Report an issue or suggest a feature
