#toolPicker, .tool {
  border-radius: 0;
  border: solid #fff 1px;
}

#toolPicker .tool {
  background-color: #f5f5f5;
  padding: 6px;
  cursor: pointer;
  display: block;
  color: #333;
}

#toolPicker .tool.selected, #toolPicker .tool:focus {
  background-color: #666;
  color: #fff;
}
